
#top{
    text-align: center;
    border-bottom: 2px solid black
}

#sites{
    display: inline-block;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #9FB1BC;
    text-align: center;
    margin-left: 25%;
}

#sites > img{
    width: 75%;
    border: black 1px solid;
}

#slideshow > img{
    padding-top: 50px;
    width: 50%;
    height: 500px;
    MARGIN-left: 25%;
}

#personal{
    background-color: #6E8898;
    text-align: center;
    padding: 1%;
}

#personal > p{
    font-size: 20px;
}

#personal > img{
    width: 50%;
    border-radius: 10px;
}