#top{
    text-align: center;
    border-bottom: 2px solid black
}

#sites{
    display: inline-block;
    width: 40%;
    padding-left: 5%;
}

#sites > img{
    width: 75%;
    border: black 1px solid;
}

#slideshow > img{
    padding-top: 50px;
    width: 50%;
    height: 500px;
    MARGIN-left: 25%;
}

#personal{
    display: inline-block;
    width: 45%;
    padding-left: 5%;
    text-align:right;
    vertical-align: top;
}

#personal > p{
    font-size: 20px;
}

#personal > img{
    width: 50%;
    border-radius: 10px;
}