#left{
    display: inline-block;
    width: 40%;
    margin-left: 25px;
    text-align: center;
    padding: 25px;
    vertical-align: top;
}

#right{
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    padding: 25px;
    margin-left: 10%;
    width: 40%;
}

#pastors{
    text-align: center;
    margin-top: 50px;
    border: 2px solid black;
    display: inline-block;
    padding-left: 250px;
    padding-right: 250px;
    margin-left: 30%;
}