

h1{
    margin-left: 2%;
    display: inline-block;
    width: 30%;
    margin-right: 10%;
}

div#top{
    border-bottom: black 2px solid;
    background-color: #efefef
}

#none{
    text-decoration: none;
    color: black;
}

#smallpic{
    width: 25px;
}

h2{
    text-align: center;
    margin-top: 2%;

}

a.profile{
    margin-right: 10%;
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-bottom: 0px;
}

#nav_icons{
    width: 30px;
    height: 30px;
    padding: 5px;
    padding-bottom: 0px;
}

.search-container{
    display: inline-block;
    margin-right: 20%;
}

div#top > a{

    display: inline-block;

    margin-top: 5px;
    text-decoration: none;
}

div#top_left{
    text-align: left;
    margin-left: 10%;
    width: 29%;
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;

}

div#top_left1{
    text-align: center;
    margin-left: 10%;
    width: 29%;
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
    border: 2px solid black;
    padding: 10px;
    background-color: #efefef;

}

p#add_message{
    padding-top: 0px;
    margin-top: 0px;
}

div#top_right{
    text-align: left;
    display: inline-block;
    margin-left: 18%;
    
    width: 29%;
    padding-left: 10px;
}

#wall{
    border: 2px solid black;
    padding-bottom: 15px;
    text-align: center;
    background-color: #efefef;

}

#messages{
    border: 2px solid black;
    margin-top: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #efefef;
}

#comment1{
    background-color: #a9a9a9;
    padding-left: 15px;
    border-radius: 5px;
    width: 90%;
    margin-top: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

h3{
    text-align: center;
}

#picture{
    width: 75%;
}