#wrapper{
    height: 925px;
}

div#top{
    border-bottom: black 2px solid;
}

h1{
    display: inline-block;
    margin-right: 58%;
}

div#top > h3{
    display: inline-block;
}

div#info{
    text-align: center;
    margin-top: 50px;
    border: black 2px solid;

    border-collapse: collapse;
    display: inline-block;
    padding: 25px;
    padding-top: 10px;
    margin-left: 38%;
    background-color: white;
}

#button{
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
}

#button:hover{
    background-color: grey;
}

#button1{
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
}

#button1:hover{
    background-color: grey;
}