<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Registered Your Church</title>
    {% load static %}
</head>
<body>
    <h1>Thank you for registering your church. We are so excited you have joined us.</h1>
    <a href="/church_logout">Logout</a>
    <h2>Please review all the info below and edit anything that may be incorrect.</h2>



<h2>If everything is correct, please hit proceed and you will be directed to your churches home page!</h2>
<a href="/church_main"><button>Proceed</button></a>

</body>
</html>