{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block content %}
    <title>Church Profile</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'church_profile.css' %}">
    
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsrniwZJcCz-23od5YakpQSe3pOIslnYc&callback=initMap">
    </script>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        /* The width is the width of the web page */
      }
    </style>
    <script>
      function initMap() {
        geocoder = new google.maps.Geocoder();        
        geocoder.geocode( { 'address': document.getElementById("address").innerHTML}, function(results, status) {
      if (status == 'OK') {
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: results[0].geometry.location,
        });
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
      }
    </script>
</head>
<body>
  <h2>{{one_church.church_name}}</h2>
    <div id="left">
      <p id="address">Street Address: {{one_church.address}}</p>
      <p>City and State: {{one_church.church_city}}, {{one_church.church_state}}</p>
      <div id="map"></div>
    </div>
    <div id="right">
      <h2>Church Info</h2>
      <p>Denomination: {{one_church.denomination}}</p>
    <p>Values and Beliefs: <a href="{{one_church.values}}">{{one_church.values}}</a></p>
    <p>Church Email: {{one_church.church_email}}</p>
    <p>Church Phone Number: {{one_church.church_phone}}</p>
    <p>Website: <a href="https://www.{{one_church.website}}">{{one_church.website}}</a></p>
    
    <p>Church Size: {{one_church.size}}</p>
    <p>Percentage of 0-10 year olds: {{one_church.youngest}}%</p>
    <p>Percentage of 10-20 year olds: {{one_church.younger}}%</p>
    <p>Percentage of 20-30 year olds: {{one_church.young}}%</p>
    <p>Percentage of 30-50 year olds: {{one_church.old}}%</p>
    <p>Percentage of 50+ year olds: {{one_church.oldest}}%</p>
    <h4>Social Media</h4>
    <p>Facebook: <a href="https://www.{{one_church.facebook}}">{{one_church.facebook}}</a></p>
    <p>Instagram: {{one_church.instagram}}</p>
    <p>Other Info: {{one_church.other}}</p>
  </div>
  <div id="pastors">
    <h2>Pastors</h2>
    {% for pastor in one_church.church_pastor.all %}
    <p><b>{{pastor.pastor_title}}</b> - {{pastor.pastor_name}}</p>
    {% endfor %}
  </div></br>
        {% if one_church.id == request.session.church_id %}
        <a href="/edit_church/{{one_church.id}}">Edit Your Church</a>
        {% endif %}
    <!--The div element for the map -->
    {% endblock %}
</body>
</html>