<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Erickson's Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" href="{% static 'img/family.jpeg' %}">
</head>
<body>
    <div id="top">
        <h1>Welcome to Michael Erickson's Portfolio</h1>
        <h4>Email Address: Merickson51293@gmail.com | Phone Number: 248-798-3461</h4>
        <h3><a href="https://www.linkedin.com/in/michael-erickson512/" target="blank">LinkedIn</a> - <a href="https://github.com/merickson51293" target="blank">GitHub</a></h3>
        
    </div>
    <div id="personal">
        <h1>About Me</h1>
        <img src="{% static 'img/family.jpeg' %}" alt="Family Picture">
        <p>My name is Michael Erickson, a 27 year old father of the most incredible daughter, Jane, and husband to a wonderful woman, Megan. I am also a recent graduate of a coding bootcamp (Coding Dojo). I spent 14 weeks in an intensive program working mainly on Python. We started with Web Fundamentals (HTML, CSS, JavaScript, jQuery) and then dove deep into Python. After which we worked on projects to show our skills and all that we had learned. To the left you will find projects that were both personal passion projects and bootcamp assigned projects. </p>
        <p>I am very excited to jump into the tech field and learn so much more! While I might not have a four year computer science degree, I do have wonderful people skills and a drive to be the best I can be. Please feel free to contact me with the information above. I am excited to talk to you about my projects, who I am and what I can bring to the table.</p>
        <h1>Blog</h1>
        {% for blogs in blogs %}
        <a href="/blog_post/{{blogs.id}}">{{blogs.title}}</a> - {{blogs.created_at}}
        {% endfor %}
    </div>
    <div id="sites">
        <h1 style="text-decoration: underline;">Projects</h1>
        {% for project in project %}
        <a href="/proj_page/{{project.id}}"><h2>{{project.name}}</h2></a>
        <h4>{{project.short_des}}</h4>
     
        {% endfor %}
    </div>
    
    <div id="slideshow">
        <img class="mySlides" src="{% static 'img/spd.png' %}">
        <img class="mySlides" src="{% static 'img/church_finder.png' %}">
        <img class="mySlides" src="{% static 'img/metroidvania.png' %}">
    </div>
    <script>
        var slideIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1}
      x[slideIndex-1].style.display = "block";
      setTimeout(carousel, 4000); 
    }
    </script>
</body>
</html>