<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Church Preferences</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_church.css' %}">
</head>
<body>
    <div id="top">
        <h1>Community Church Finder</h1>
        <h3>Welcome {{request.session.first_name}} {{request.session.last_name}}</h3>
    </div>
    <div id="wrapper" style="background-image: url({% static '/user_reg.jpg' %}">
    <div id="info">
    <h2>Please tell us what you are looking for in a church.</h2>
    <form action="/create_user_church" method="post">
        {% csrf_token %}
        <p>Prefered Church Denomination: (You may choose more than one) <input type="text" name="denomination"></p>
        <!-- Catholic<input type="checkbox" name="catholic" value="Catholic">
        Non-Denominational<input type="checkbox" name="nondenominational" value="Non-Denominational">
        Baptist<input type="checkbox" name="baptist" value="Baptist">
        Lutheran<input type="checkbox" name="lutheran" value="Lutheran">
        Reformed<input type="checkbox" name="reformed" value="Reformed">
        Methodist<input type="checkbox" name="methodist" value="Methodist">
        Pentecostal<input type="checkbox" name="pentecsotal" value="Pentecostal">
        Other<input type="checkbox" name="other" value="Other">
        No Preference <input type="checkbox" name="no_preference"value="No Preference"> -->
        <p>Church Size: <input type="number" name="church_size"></p>
        <!-- 0-100<input type="radio" name="church_size" value="0-100">
        100-500<input type="radio" name="church_size" value="100-500">
        500+<input type="radio" name="church_size" value="500+"> -->
        <p>Importance of programs for students: <input type="range" name="student_programs"></p>
        <p>Importance of small groups: <input type="range" name="small_groups"></p>
        <input id="button" type="submit" value="Next">
    </form>
    <a  href="/user_contact"><button id="button1">Back</button></a>
</div>
</div>
</body>
</html>