<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_contact.css' %}">
</head>
<body>
    <div id="top">
        <h1>Community Church Finder</h1>
        <h3>Welcome {{request.session.first_name}} {{request.session.last_name}}</h3>
    </div>
    <div id="wrapper" style="background-image: url({% static '/user_reg.jpg' %}">
    <div id="info">
    <h2>Please tell us your Contact Information</h2>
    <form action="/create_user_contact" method="post">
        {% csrf_token %}
        <p>Name: {{request.session.first_name}} {{request.session.last_name}}</p>
        <p>Birthday <input type="date" name="age"></p>
        <p>Address: <input type="text" name="user_address"></p>
        <p>City: <input type="text" name="user_city"></p>
        <p>State: <input type="text" name="user_state"></p>
        <p>Email: <input type="text" name="user_email"></p>
        <p>Phone Number: <input type="text" name="user_phone"></p>
        <p>Breakdown of Household:</p>
        <p>Adults: <input type="number" name="adults"></p>
        <p>Teenagers: <input type="number" name="teens"></p>
        <p>Kids: <input type="number" name="kids"></p>
        <p>Social Media</p>
        <p>Facebook: <input type="text" name="user_facebook"></p>
        <p>Instagram: <input type="text" name="user_instagram"></p>
        <input id="button" type="submit" value="Next">
    </form>
</br><a href="/user_info"><button id="button1">Back</button></a>
</div>
</div>
</body>
</html>