<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="top">
            <h1>Community Church Finder</h1>
            <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit">Search</button>
                </form>
              </div>
            
            {% if request.session.user_id is none %}
            <a href="/church_direct_messages/{{request.session.church_id}}"><img id="nav_icons" src="{% static '/message.png' %}" alt="messages"></a>
            <a href="/church_profile/{{request.session.church_id}}"><img id="nav_icons" src="{% static '/church.png' %}" alt="church"></a>
            <a href="/local_people"><img id="nav_icons" src="{% static '/profile.png' %}" alt="profile"></a>
            <a class="profile" href="/church_home_page"><img id="nav_icons" src="{% static '/home.png' %}" alt="profile"></a>
            <a href="/logout">Logout</a>
            {% elif request.session.church_id is none %}
            <a href="/direct_messages/{{request.session.user_id}}"><img id="nav_icons" src="{% static '/message.png' %}" alt="messages"></a>
            <a href="/area_churches"><img id="nav_icons" src="{% static '/church.png' %}" alt="church"></a>
            <a href="/user_profile/{{request.session.user_id}}"><img id="nav_icons" src="{% static '/profile.png' %}" alt="profile"></a>
            <a class="profile" href="/user_home_page"><img id="nav_icons" src="{% static '/home.png' %}" alt="profile"></a>
            <a href="/logout">Logout</a>
            {% else %} 
            <p>User: {{request.session.user_id}}</p>
            <p>Church: {{request.session.church_id}}</p>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
        </div>
</body>
</html>