<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index_1.css' %}">
</head>
<body>
    <div id="top" style="background-image: url({% static '/church_home.jpg' %})">
        <h1>Welcome to Community Church Finder</h1>
        <button id="church"><a href="/church_reg_log">Church Registration/Login</a></button>
        <button><a href="/user_reg">User Registration/Login</a></button>
        <a href="/guest">
        <div id="overlay">
            <h2>Find a Service Near You!</h2>
        </div>
    </a>
    </div>

</body>
</html>