{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
    <!-- <div id="top">
        <h1>Community Church Finder</h1>
        <img id="nav_icons" src="{% static '/bell.png' %}" alt="notifications">
        <img id="nav_icons" src="{% static '/message.png' %}" alt="messages">
        <a class="profile" href="/user_profile/{{request.session.user_id}}"><img id="nav_icons" src="{% static '/profile.png' %}" alt="profile"></a>
        <a class="home" href="/user_home_page"><img id="nav_icons" src="{% static '/home.png' %}" alt="profile"></a>
        <a href="/logout">Logout</a>
    </div> -->
    <h3>People in your local area</h3>
    {% for user in local_person %}
    <p><a href="/user_profile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></p>
        <p>Located in {{user.user_city}}, {{user.user_state}}</p>
    {% endfor %}
    {% endblock %}
</body>
</html>